# Godot 4+ specific ignores
.godot/
.import/
#Scons ignores
bin/*
extension_modules/murse/*.os
.sconsign.dblite
extension_api.json
#cgo
extension_modules/murse/murse_c_export.h
extension_modules/murse/murse_c_export.a
